@import "node_modules/govuk-frontend/govuk/all";
@import "./govuk-language-select";

.js-disabled {
  .no-js-hide {
    display: none;
  }
}

.companySummary {
  background-color: govuk-colour("light-grey");
}

.alignRight {
  text-align: right;
}

.marginLeft {
  margin-left: 10px;
}

.noMargin {
  margin: 0;
}

.floatRight {
  float: right;
}

.wordBreakAll {
  word-break: break-all;
}

.wordBreakWord {
  word-break: break-word;
}

.govuk-grid-row.flex {
  flex-wrap: wrap;
}

.infoBlock {
  padding: 10px 10px 10px 0;

  &__wrapper {
    width: 100%;
    padding: 2em;
    background-color: govuk-colour("light-grey");

    @include govuk-media-query($from: tablet) {
      min-height: 390px;
      
    }
  }

  &__count {
    color: #4F2C93
  }

  &:last-child {
    color: #003078
  }
}

.boxCard {
  border-color: govuk-colour("mid-grey");
  border-style: solid;
  border-width: 1px;
  padding: 2em;
}

.account-menu {
  //item in menu
  &-item {
    list-style-type: none;
    padding: 12px 0;
  }

  //current item in menu
  &__item--current {
    padding-bottom: 18px;

    @include govuk-media-query($from: tablet) {
      border-bottom: 4px solid #1d70b8;
    }
  }

  //menu link style
  &-link {
    font-size: 15px;
    line-height: 1.25;
    text-decoration: none;
    margin-right: 3ex;
  }


  &__item {
    list-style-type: none;
    padding: 12px 0;
  }


  &-link-description {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    display: block;
    margin-top: 5px;
  }
}

.back-link {
  height: 2em;
  padding-bottom: 3em;
}

.summary-list {
  &__value {
    width: 20%;
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(6);
    }
  }

  &__actions {
    width: 20%;
  }

  &__key {
    width: 60%;
  }
}

.search {
  &__inputs {
    flex: 1 0 auto;
  }
}

.flex {
  display: flex;
}

.no-padd {
  padding: 0;
}
