@import "node_modules/govuk-frontend/govuk/all";
@import "./govuk-language-select";

.js-disabled {
  .no-js-hide {
    display: none;
  }
}

.companySummary {
  background-color: govuk-colour("light-grey");
}

.alignRight {
  text-align: right;
}

.marginLeft {
  margin-left: 10px;
}

.noMargin {
  margin: 0;
}

.floatRight {
  float: right;
}

.infoBlock {
  padding: 0 10px 10px 0;

  &__wrapper {
    min-height: 320px;
    padding: 2em;
    background-color: govuk-colour("light-grey");
  }

  &__count {
    color: #003078
  }

  &:last-child {
    color: #003078
  }
}

.boxCard {
  border-color: govuk-colour("mid-grey");
  border-style: solid;
  border-width: 1px;
  padding: 2em;
}
