@import "node_modules/govuk-frontend/govuk/all";
@import "./govuk-language-select";

.js-disabled {
  .no-js-hide {
    display: none;
  }
}

.companySummary {
  background-color: govuk-colour("light-grey");
}

.alignRight {
  text-align: right;
}

.marginLeft {
  margin-left: 10px;
}

.noMargin {
  margin: 0;
}

.floatRight {
  float: right;
}

.wordBreakAll {
  word-break: break-all;
}

.wordBreakWord {
  word-break: break-word;
}

.govuk-grid-row.flex {
  flex-wrap: wrap;
}

.infoBlock {
  padding: 10px 10px 10px 0;

  &__wrapper {
    width: 100%;
    padding: 2em;
    background-color: govuk-colour("light-grey");

    @include govuk-media-query($from: tablet) {
      min-height: 390px;
      
    }
  }

  &__count {
    color: #4F2C93
  }

  &:last-child {
    color: #003078
  }
}

.boxCard {
  border-color: govuk-colour("mid-grey");
  border-style: solid;
  border-width: 1px;
  padding: 2em;
}

.account-menu {
  float: left;
  //item in menu
  &-item {
    list-style-type: none;
    padding: 12px 0;
    
    
  }

  //current item in menu
  &__item--current {
    

    @include govuk-media-query($from: tablet) {
      border-bottom: 4px solid #1d70b8;
    }
  }

  //menu link style
  &-link {
    font-size: 15px;
    line-height: 1.25;
    text-decoration: none;
    margin-right: 3ex;
    float: left;
    padding-bottom: 18px;
  }


  &__item {
    list-style-type: none;
    padding: 12px 0;
  }


  &-link-description {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    display: block;
    margin-top: 5px;
  }
}

.back-link {
  height: 2em;
  padding-bottom: 3em;
}

.govuk-summary-list {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__key {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    width: 30%;
  }

  &__value {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0;
    width: 50%;
    padding-right: 0;
    min-width: 190px;
  }

  &__actions {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    width: 16%;
  }
}

.summary-list {

  &__value {
    width: 20%;
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(6);
    }
  }

  &__actions {
    width: 20%;
  }

  &__key {
    width: 60%;
  }
}



.search {
  &__inputs {
    flex: 1 0 auto;
  }
}

.flex {
  display: flex;
}

.no-padd {
  padding: 0;
}

.overflow-mobile {
  // overflow: scroll;
  @include govuk-media-query($from: tablet) {
    overflow: unset;
  }
}

.min-width-100px {
  @include govuk-media-query($from: tablet) {
    min-width: 100px;
  }
}

.table-from-mobile {
  display: inline-block;

  .govuk-table__cell {
    padding: 10px 10px 10px 0;
  }
  @include govuk-media-query($from: tablet) {
    display: table;

    .govuk-table__cell {
      padding: 10px 20px 10px 0;
    }
  }
}

.govuk-section-break--m {
  margin-top: 0
}

.govuk-notification-banner {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ch-show-hide-button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: white;
    text-align: right;
    text-decoration: underline solid white;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

  &__hidden {
    padding: 2px 20px 0px
  }
}

.badge {
  top: -10px;
  right: -10px;
  padding: 4px 10px;
  border-radius: 50%;
  background: #d4351c;
  color: #ffffff;
}

.js-enabled .govuk-header__navigation {
  display: unset;
}

.govuk-header {
  &__container {
    display: flex;
  }

  &__logo {
    flex: 1 0 auto;
  }

  &__content {
    flex: 1 100%;
    justify-content: end;
    display: flex;
  }

  &__navigation-item {
    padding: 5px 0 5px;
    border-bottom: 0;
  }
}