@import "../../node_modules/govuk-frontend/govuk/all";
@import "./govuk-language-select";

.js-disabled {
  .no-js-hide {
    display: none;
  }
}

.companySummary {
  background-color: govuk-colour("light-grey");
}

.alignRight {
  text-align: right;
}

.marginLeft {
  margin-left: 10px;
}

.noMargin {
  margin: 0;
}

.floatRight {
  float: right;
}

.infoBlock {
  padding: 2em;
  height: 300px;
  width: 310px;
  margin-right: 10px;
  background-color: govuk-colour("light-grey");
}

.infoBlock:last-child {
  margin-right: 0;
}

.boxCard {
  border-color: govuk-colour("mid-grey");
  border-style: solid;
  border-width: 1px;
  padding: 2em;
}
