@import "../../node_modules/govuk-frontend/govuk/all";
@import "./govuk-language-select";

.js-disabled {
  .no-js-hide {
    display: none;
  }
}

.companySummary {
  background-color: govuk-colour("light-grey");
}

.alignRight {
  text-align: right;
}

.marginLeft {
  margin-left: 10px;
}
